In [11]:
import requests
import json
import xmltodict
import pandas as pd
from config import api

In [12]:
zipcode= pd.read_csv('free-zipcode-database.csv')
zipcode_df= pd.DataFrame(zipcode, columns=['RecordNumber', 'Zipcode', 'City', 'State'])
zipcode_df.head()

C:\Users\diana\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   RecordNumber  Zipcode                 City State
0             1      704          PARC PARQUE    PR
1             2      704  PASEO COSTA DEL SUR    PR
2             3      704        SECT LANAUSSE    PR
3             4      704      URB EUGENE RICE    PR
4             5      704         URB GONZALEZ    PR

In [13]:
zipcode_df['Zipcode']=zipcode_df['Zipcode'].apply(lambda x: '{0:0>5}'.format(x))
zipcode_df.head()

   RecordNumber Zipcode                 City State
0             1   00704          PARC PARQUE    PR
1             2   00704  PASEO COSTA DEL SUR    PR
2             3   00704        SECT LANAUSSE    PR
3             4   00704      URB EUGENE RICE    PR
4             5   00704         URB GONZALEZ    PR

In [14]:
zipcode_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81831 entries, 0 to 81830
Data columns (total 4 columns):
RecordNumber    81831 non-null int64
Zipcode         81831 non-null object
City            81831 non-null object
State           81831 non-null object
dtypes: int64(1), object(3)
memory usage: 2.5+ MB

In [18]:
zip_code = 85027

for i, j in zipcode_df.iterrows():
#     ZIP = zipcode_df.iloc[i, 1]
#     print(ZIP)
#     if zip_code == zipcode_df.iloc[i, 1]:
#         state= zipcode_df.iloc[i, 3]
#         city = zipcode_df.iloc[i, 2]
        print(f'zipcode: {zipcode_df.iloc[i, 1]}, city: {city} , state: {state}')
        i+=1

NameError: name 'city' is not defined

In [16]:
# Prepare for API call
base_url = "https://www.zillow.com/webservice/GetRegionChildren.htm?"
zws_id=api
state=state
city=city
childtype="zipcode"

query_url = f"{base_url}zws-id={zws_id}&state={state}&city={city}&childtype={childtype}"
print(f"Processing: {query_url}")

NameError: name 'state' is not defined

In [ ]:
# import xmltodict

data = requests.get(query_url)
xpars = xmltodict.parse(data.text)
json_data = json.dumps(xpars, sort_keys=True, indent=4)
print(json_data)